<h1>Grocery Show Page</h1>
<p>Title: <%= @grocery['title']  %></p>
<p>Description: <%= @grocery['description']  %></p>
<p>Quantity: <%= @grocery['quantity'] %></p>

<%= link_to "Back to Grocery List", groceries_path %>




